@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@200&display=swap');
/* -----Generelle regler --------------------------------------------------------------------------------------------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* Bruger font Prompt fra googlefonts, da den er næsten identisk med Avenir Next */

/* sætter højde i body og HTMl for at kunne definere højder i procenter*/

body{ 
    background-color: #fff2e5;
    color: #002fb6;
    font-family: 'Prompt', sans-serif;
    height: 100%;
}

html {
    height: 100%;
}


/* -----HEADER--------------------------------------------------------------------------------------------------------------------------- */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

/* Jeg bruger her højde i px, da ved bauggrundsbilleder, vil den ikke definere højden i %*/

#herobillede{
    background-image: url(img/bauggrundforside.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

#forside-overskrift {
    font-size: 30pt;
    text-align: center;
    padding-top: 5%;
}

/* NAV I HEADER*/

nav{
    display:flex; 
    justify-content: space-around;
    border-bottom:2px solid #002fb6;
    align-items: center;
}

nav a{ 
    text-decoration: none;
    color: #002fb6;
    font-size: 17pt;
    padding: 5px 0px;
}

/* Fjerner at den "hopper" under hover med marginbottom */

.header-link:hover{
    border-bottom: 2px solid #FFB689;
    margin-bottom: -2px;
}

/* Logo */
header h1{ 
    font-weight:900;
    font-size:60pt;
}





/* ------BURGER STYLING -------Fjerner burger menu ---------------------------------------------------------------------------*/
#burger{ 
    display: none;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid #002fb6;
    padding: 15px;
}

#burger i {
    font-size: 30pt;
    position: relative;
}
#burger a{
    font-weight:900;
    font-size: 40pt;
    text-decoration:none;
    color:#002fb6;
}



/* --------DROPDOWN KNAP -------------------------------------------------------------------------------------------------------------------*/
.dropdownbtn{ 
    border:none;
    font-size: 17pt;
}

.dropdown{ 
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: #fff2e5;
    z-index:1;
    right:0;

}
.dropdown-content a{
    text-decoration: none;
    display: block;
    font-size: 15pt;
    padding: 20px;
}

.dropdown-content a:hover{
    border-bottom: 2px solid #FFB689;
}
.dropdown:hover .dropdown-content{
    display:block; 
    border: #002fb6 solid 2px ;
}









/*--- TE POSE-------------------------- --------------------------------------------------------------------------------------------------------------------------------*/
/* Havde mange problemer med dette element da jeg gerne ville have det placeret præcist lidt over menulinje
i højre side, derfor bruger jeg position. */

#konkurrence-tepose{
    position: absolute;
    top: 110px;
    left: 68%;
}

#konkurrence-tepose img{ 
    height: 350px;
    width:300px;
}

/*--- MAIN CONTENT-------------------------- --------------------------------------------------------------------------------------------------------------------------------*/


main{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 105%; 
}

#forside-teposer img{ 
    height: 100%;
    width: 100%;}


#main-forside-tekst{
     text-align: center;
     font-size:30pt;
     margin: 5% 10% 20% 10%;
}



/*-----FOOTER ------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{ 
    border-top: 2px solid #002fb6;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-overskrift{
    font-weight: bolder;
}
.footer-content{
    display:flex; 
    justify-content: space-between;
    text-decoration: none;
    color: #002fb6;
    align-items: center;
}
#footer-omos a{ 
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: #002fb6;
}

/* --BURGER MENU SIDE STYLES-------------------------------------------------------------------------------------------------------------------------------- */

.main-burgermenu{
    display: flex;
    flex-direction: column;
}


.main-burgermenu a{ 
    text-decoration: none;
    color: #002fb6;
    font-size: 30pt;
    background-color: #FFB689;
    padding: 2%;
    width: 100%;
    align-items: center;
    text-align: center;
}











/* --BREAK POINTS--------------------------------------------------------------------------------------------------------------------------------- */



/* --BREAK POINT 1050 PX-------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1050px) {
 /* viser burger menu */
    #burger {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

/* fjerner nav */
    nav{ 
        display:none;
    }

/* Te-pose placeres og skaleres korrekt ift. burgermenulinjen. */
    #konkurrence-tepose{
        top:130px;
    }

    #konkurrence-tepose img{
        height: 250px;
        width:200px;
    }

    #herobillede{
        height: 300px;
    }

}








/* --BREAK POINT 800 PX--------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 800px){
 #forside-overskrift {
        font-size: 30pt;
    }
    
    header{
        height:75%;
    }
    
    #herobillede{
        height: 200px;
    }


/* Da skærmen bliver mindre, ændre vi højden */
   
main{ 
    height: 80%;
}
    #main-forside-tekst{
        font-size: 20pt;
        text-align: center;
            }


/* Herefter gav det ikke mening at have te posen */

    #konkurrence-tepose{
        display:none;
    }
}






/* --BREAK POINT 500 PX--------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:500px){
    #burger a h1{ 
        font-size: 30pt;
    }

    #burger i{ 
        font-size: 20pt;
    }

    #forside-overskrift {
        font-size: 15pt;
        padding-top: 0%;
    }

    #main-forside-tekst{
        font-size: 15pt;
    }
    header{
        height:50%;
    }
    
    main{ 
        height: 60%;}

    #konkurrence-tepose{
        display:none;
    }
/* Footer ændres til colummn */

    footer{ 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap:10px;
        font-size: 8pt;
    }

    .footer-content{
        justify-content: center;
    }

    #herobillede{
        height: 150px;
    }
}


