@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@200&display=swap');

/*----------GENERELLE REGLER-------------------------------------------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: #fff2e5;
    color: #002fb6;
    font-family: 'Prompt', sans-serif;
    height: 100%;
}

/*  FJERNER HTML 100% SÅ MIN HEADER KAN VÆRE STICKY PÅ HELE SIDEN*/

main{
    margin:3% 8% 3% 8%
}


/*----------HEADER-------------------------------------------------------------------------------------------------------------------------*/

/* header er kun sticky på undersiderne, da de er længere */
header{
    position: sticky;
    z-index:1;
    top: 0;
    background-color: #fff2e5;
}

/* samme */

nav{
    display:flex;
    justify-content: space-around;
    border-bottom:2px solid #002fb6;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #002fb6;
    font-size: 17pt;
    padding: 5px 0px;
}

.header-link:hover{
    border-bottom: 2px solid #FFB689;
    margin-bottom: -2px ;
}

/* Logo */
header h1{
    font-weight:900;
    font-size:60pt;
}

/* ------BURGER STYLING -------Fjerner burger menu ---------------------------------------------------------------------------*/
#burger{
    display: none;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid #002fb6;
    padding: 15px;
}

#burger i {
    font-size: 30pt;
    position: relative;
    color: #002fb6;
}
#burger a{
    font-weight:900;
    font-size: 40pt;
    text-decoration:none;
    color:#002fb6;
}



/* --------DROPDOWN KNAP -------------------------------------------------------------------------------------------------------------------*/
.dropdownbtn{
    border:none;
    font-size: 17pt;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: #fff2e5;
    z-index:1;
    right:0;

}
.dropdown-content a{
    text-decoration: none;
    display: block;
    font-size: 15pt;
    padding: 20px;
}
.dropdown-content a:hover{
    border-bottom: 2px solid #FFB689;
    }

.dropdown:hover .dropdown-content{
    display:block;
    border: #002fb6 solid 2px ;
}



/* --MAIN PRODUKTSIDE--------------------------------------------------------------------------------------------------------------------------------- */
/* Produkt-beskrivelse */
.produkt-beskrivelse{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.produkt-beskrivelse div{
    width: 50%;
}

/* Produkt tekst */

#produkt-tekst{
    padding-left: 5%;
}

#produkt-tekst p{
    padding:1% 0 1% 0;
}

#produkt-tekst h1{
    font-size:30pt;
    font-weight:400;
}

/* Produktbilleder */
#produkt-billeder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#produkt-billeder i{
    font-size: 20pt;
}
#produkt-billeder img{
    width: 100%;
}

/*Produktinformationer */
.main-produktside h2{
    font-size:30pt;
    font-weight:400;
    padding:2% 0% 2% 0%;
}

.produkt-information{
    background-color:#FFB689;
    display: flex;
    justify-content: space-around;
}

/*  næringstoffer */

.næringsstoffer{
    width:50%;
    padding: 2%;
    border-right: 1px solid #fff2e5;
}

#næringsstoffer-under-overskrift{
    background-color: #002fb6;
    color: #fff2e5;
    padding: 1%;
}

#næringsinformation{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #FFB689;
    background-color: #fff2e5;
    padding: 1%;
}


/*  ingredienser */
.ingredienser{
    width: 50%;
    padding: 2%;
    border-left: 1px solid #fff2e5;
}

.ingredienser p{
    padding: 1%;
}

#ingredienser-under-overskrift{
    background-color: #fff2e5;
}


/* anmeldelser */
.anmeldelser{
display: flex;
justify-content: space-between;
align-items: center;
}
.anmeldelser-card{
    background-color: #FFB689;
    width: 300px;
    /* Ser flotterede ud med margin under flex wrap  */
    margin: 2%;
    border-radius: 2%;
}
#anmeldelser-container p{
padding:10px;

}
.anmeldelser i{
    font-size: 20pt;
}


/* --MAIN OPSKRIFTER--------------------------------------------------------------------------------------------------------------------------------- */


.opskrifter{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.opskrifter a{
    text-decoration: none;
    color: #002fb6;
    margin: 2%;
    font-weight: 500;
}

.opskrifter-card{
        background-color: #FFB689;
        width: 250px;
        border-radius: 2%;
    }
#opskrifter-container{
    padding: 30px 0 30px 0px;
    text-align: center;
    }
.main-opskrifter h1{
    text-align: center;
    font-size:30pt;
    font-weight:400;
    padding:2% 0% 2% 0%;
}


/* --MAIN ARRANGEMENTER--------------------------------------------------------------------------------------------------------------------------------- */
.arrangementer-intro{
    text-align: center;
    padding:2% 5% 2% 5%;
}

.arrangementer-intro h1{
    font-size:30pt;
    font-weight:400;
    padding-bottom: 2%;
}

.alle-arrangementer .arrangementer-lokal{
   margin: 8% 0% 8% 0;
}
#arrangementer-underoverskrift {
    border-bottom: 2px solid #002fb6;
    font-weight:bold;
}

.arrangementer-lokal div{
    border-bottom: 2px dotted #002fb6;
    display: flex;
    justify-content: space-between;
}

.alle-arrangementer p{
    padding: 2px;
}


/*----------HONNING CITRON TE-------------------------------------------------------------------------------------------------------------------------*/
.main-honningte h1{
    font-size:30pt;
    font-weight:400;
    padding-bottom: 2%;
    text-align: center;
}
/* Alt content */
.honningte-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FFB689;
    padding: 2%;
}

/* højre side */
.honningte-indhold{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 1%;
}
.honningte-indhold img{
    margin-bottom: 2%;
    width: 100%;
}

#næringsstoffer-underoverskrift-opskrift{
    background-color: #002fb6;
    color: #fff2e5;
    padding: 1%;
}

/* venstre side */
.honningte-opskrift{
    display: flex;
    flex-direction: column;
    width:50%;
    margin-left: 1%;
}

.honningte-opskrift div{
    background-color: #fff2e5;
    padding: 2%;
}

.honningte-opskrift div p{
    padding: 2%;
}

#tilberedelse{
    height: 75%;
}

#opskrift-ingredienser{
    margin-bottom: 2%;
}



/* --BURGER MENU SIDE STYLES-------------------------------------------------------------------------------------------------------------------------------- */

.main-burgermenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    }


.main-burgermenu a{
        text-decoration: none;
        color: #002fb6;
        font-size: 30pt;
        background-color: #FFB689;
        padding: 8%;
        width: 100%;
        align-items: center;
        text-align: center;
    }

/* --FOOTER STYLES-------------------------------------------------------------------------------------------------------------------------------- */

footer{
    border-top: 2px solid #002fb6;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-overskrift{
    text-decoration: underline;
}

#footer-omos a{
    display: flex;
    flex-direction: column;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color: #002fb6;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #002fb6;
}










/* --BREAK POINTS--------------------------------------------------------------------------------------------------------------------------------- */

/* --BREAK POINT 1050 PX-------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1050px){
/*--- MAIN OG HEADER 1050PX------------------------------------------------------------------------------------------------------------ --------------------*/
    main{
        margin:3%;
    }
    #burger {
       display: flex;
       justify-content: space-between;
       width: 100%;
       align-items: center;
   }
   nav{
       display:none;
   }

/*--- PRODUKTSIDE 1050px----------------------------------------------------------------------------------------------------------------------------- */
   .produkt-beskrivelse{
        flex-direction: column;
   }
   .produkt-beskrivelse div{
         width: 100%;
         align-items: center;
   }
   .anmeldelser{
        flex-wrap: wrap;
        justify-content: center;
   }

   .anmeldelser i{
        display:none;
   }

    #produkt-tekst{
        padding-left: 0%;
    }

/*--- OPSKRIFTER 1050px----------------------------------------------------------------------------------------------------------------------------- */
.opskrifter{
        flex-wrap: wrap;
        justify-content: center;
   }

/*--- HONNING TE 1050px----------------------------------------------------------------------------------------------------------------------------- */

   .honningte-content{
        flex-wrap: wrap;
        align-items: center;
   }
   .honningte-indhold{
        width: 100%;
        margin-right: 0;
   }
   .honningte-opskrift{
        width: 100%;
        margin-left: 0;
   }
   .næringsstoffer-opskrift{
        margin-bottom: 2%;
    }

   .honningte-indhold img{
        width: 100%;
   }

}






/* --BREAK POINT 800 PX--------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:800px){
/*--- PRODUKTSIDE 800px----------------------------------------------------------------------------------------------------------------------------- */
#produkt-billeder{
        width: 90%;
        margin: auto;
    }

    #produkt-billeder img{
    width: 75%;
    }

    .main-produktside h2{
        padding:4% 0% 4% 0%;
    }

    #produkt-tekst h1{
        padding: 4% 0% 4% 0%;
    }
}





/* --BREAK POINT 500 PX--------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:500px){

   #burger a h1{
   font-size: 30pt;
   }
   #burger i{
   font-size: 20pt;
   }


/*--- PRODUKTSIDE 500px----------------------------------------------------------------------------------------------------------------------------- */

   .main-produktside h2{
        font-size: 20pt;
   }

   .main-produktside p{
        font-size:12pt;
   }

   #produkt-billeder{
        width: 80%;
        margin: auto;
    }

    #produkt-billeder i{
        font-size: 12pt;
    }

    #produkt-billeder img{
        width: 75%;
    }

/*--- OPSKRIFTER 500px----------------------------------------------------------------------------------------------------------------------------- */

    .main-opskrifter h1{
        font-size: 20pt;
   }

   .main-opskrifter p{
        font-size:12pt;
   }

/*--- ARRANGEMENTER 500px----------------------------------------------------------------------------------------------------------------------------- */

   .main-arrangementer h1{
        font-size: 20pt;
   }

   .main-arrangementer p{
        font-size:12pt;
   }

/*--- HONNING TE 500px----------------------------------------------------------------------------------------------------------------------------- */

   .main-honningte h1{
        font-size: 20pt;
   }

   .main-honningte p{
        font-size:12pt;
   }

   #tilberedelse p{
        margin:2%;
   }

/*--- BURGER MENU 500px----------------------------------------------------------------------------------------------------------------------------- */

   .main-burgermenu a{
        font-size: 20pt;
   }

/*--- FOOTER 500px----------------------------------------------------------------------------------------------------------------------------- */

   footer{
       flex-direction: column;
       justify-content: center;
       text-align: center;
       gap:10px;
       font-size: 8pt;
   }

   .footer-content{
        justify-content: center;
   }
}

/*--- STYLESHEET SLUT----------------------------------------------------------------------------------------------------------------------------- */

