/* Ekstra stylsheet til begge OM OS SIDER og Konkurrence // (alle undersider med en bauggrund) */
/*----------MAIN KONKURRENCE-------------------------------------------------------------------------------------------------------------------------*/
/* Bauggrundsbillede */
.main-konkurrence{ 
    background-image:url("img/bauggrund-underside.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin:0;
    align-items: center;
}

/* Alt indholdet i main */
.main-content-konkurrence{ 
    margin:3% 8% 3% 8%;
    text-align: center;
    padding: 2%;
    background-color: #ffffff;

}

.main-content-konkurrence h1{ 
    font-size:30pt;
    font-weight:400;
}


.main-content-konkurrence p{
    padding: 2%;
}

.indtast-oplysninger p{ 
    border: 2px solid #FFB689;
    padding: 2%;
    background-color: white;

}
.indtast-oplysninger{ 
    border: 2px solid #FFB689;
    text-align: left;
}
#beskriv-minde{ 
    padding-bottom: 20%;
}


/*----------MAIN OM OS MEDOVA -------------------------------------------------------------------------------------------------------------------------*/

.main-omos-medova{ 
    background-image: url("img/bauggrund-underside.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin:0;

}


.omos-medova-content{
    background-color:white;
    padding: 4%;
    margin:3% 8% 3% 8%;

}
.omos-medova-content h1{ 
    font-size:30pt;
    font-weight:400;
    text-align: center;
}

/* Bruger float nu, men senere i media 500px ændres det til display flex columme */
.omos-medova-content img {
    float: right;
}

.omos-medova-content p{ 
    line-height: 180%;
    padding-top: 1%;
    padding-bottom: 1%;
}



.omos-underoverskrift{ 
    padding-bottom: 2%;
    font-size: 16pt;
}
/*----------MAIN OM OS BKI -------------------------------------------------------------------------------------------------------------------------*/

.main-omos-bki{ 
    background-image: url("img/bauggrund-underside.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin:0;

}

.omos-bki-content{
    background-color:white;
    padding: 4%;
    margin:3% 8% 3% 8%;

}
.omos-bki-content h1{ 
    font-size:30pt;
    font-weight:400;
    text-align: center;
}

.omos-bki-content img {
    float: right;
}

.omos-bki-content p{ 
    line-height: 180%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* --BREAK POINT 1050 PX--------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1050px){
    .omos-medova-content{ 
        margin: 3%;
   
    }

.main-konkurrence{ 
height: 700px;
}
}

/* --BREAK POINT 800 PX--------------------------------------------------------------------------------------------------------------------------------- */
   
@media screen and (max-width:800px){
    .omos-medova-content{ 
         padding:6%;
    }

    .omos-bki-content{ 
        padding:6%;
   }
}
   
/* --BREAK POINT 500 PX--------------------------------------------------------------------------------------------------------------------------------- */
/* --KONKURRENCE 500 PX--------------------------------------------------------------------------------------------------------------------------------- */

 @media screen and (max-width:500px){
    .main-content-konkurrence h1{ 
        font-size:20pt;
    }
    .main-content-konkurrence p{ 
        font-size: 12pt;
    }
    .main-konkurrence{ 
        height: 95%;
        }
    .main-content-konkurrence{ 
        margin-bottom: 20px;        
    }
/* --OM OS MEDOVA 500 PX--------------------------------------------------------------------------------------------------------------------------------- */
    
    .omos-medova-content{ 
        margin-bottom: 5%;
    }

    .omos-medova-content div{ 
        display: flex;
        flex-direction: column;
    }

    .omos-medova-content div img{
        width: 100%; 
    }  

   .omos-medova-content p{ 
    font-size:12pt;
    }

    .omos-medova-content h1{ 
    font-size: 20pt;
    }
/* Gælder både for bki og medova */
    .omos-underoverskrift{
    padding: 4% 0% 4% 0%;
    font-size: 14pt;
    }

/* -- OMG OS BKI 500 PX--------------------------------------------------------------------------------------------------------------------------------- */
    
    .omos-bki-content{ 
        padding:8%;
    }

    .omos-bki-content div{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .omos-bki-content div img{
        width: 50%; 
        height: 250px;

    }  

    .omos-bki-content section p{ 
        font-size: 12pt;
    }

    .omos-bki-content h1{ 
        font-size: 20pt;
    }
}
